body {
  font-family: "Lato", sans-serif;
}

.allcaps {
  text-transform: uppercase;
}

.dots {
  border-top: 1px dotted;
}

table#friday {
  color: white;
}
table#saturday {
  color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    float: none;
  }
}
.artist {
  color: white;
}
.time {
  text-align: center;
  color: #c5c5c5;
  font-style: italic;

  background-color: #2e2e2e;
}
th,
td {
  color: #c5c5c5;
  border-bottom: 1px solid #2e2e2e;
}
.day {
  color: white;
  font-style: bold;
}
.zone {
  color: white;
  background-color: #151515;
}

/*NAV BAR*/
.topnav {
  overflow: hidden;
  background-color: #2e2e2e;
}

.topnav a {
  color: #c5c5c5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ff0000;
  color: white;
}
